<section class="feature mt-5 mb-5">
    <div class="container2">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="main-feature-box">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="30" fill="currentColor"
                            class="bi bi-house-door-fill" viewBox="0 0 16 16">
                            <path
                                d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z" />
                        </svg>
                    </div>
                    <h3>Professional Teachers</h3>
                    <p> Our teaching philosophy centers around the idea that every student has unique strengths and
                        capabilities. We strive to create a supportive and inclusive classroom atmosphere where students
                        feel comfortable expressing themselves, taking risks, and exploring their interests. By adopting
                        a
                        holistic approach to education, We aim to nurture not only academic growth but also
                        social-emotional
                        development, critical thinking skills, and a lifelong love for learning.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="main-feature-box">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-align-center" viewBox="0 0 16 16">
                            <path
                                d="M8 1a.5.5 0 0 1 .5.5V6h-1V1.5A.5.5 0 0 1 8 1zm0 14a.5.5 0 0 1-.5-.5V10h1v4.5a.5.5 0 0 1-.5.5zM2 7a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V7z" />
                        </svg>
                    </div>
                    <h3>Quality Education</h3>
                    <p> At our institution, we are dedicated to delivering quality education that nurtures the
                        intellectual, social, and emotional growth of our students. With a team of highly qualified and
                        passionate educators, we create a dynamic learning environment that promotes critical thinking,
                        creativity. Our curriculum is carefully designed to be comprehensive,
                        relevant, and tailored to meet the needs of our students. We prioritize individualized
                        attention and inclusive atmosphere.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="main-feature-box">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-award-fill" viewBox="0 0 16 16">
                            <path
                                d="m8 0 1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z" />
                            <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z" />
                        </svg>
                    </div>
                    <h3>Always On Time</h3>
                    <p> At our institution, we prioritize punctuality as an essential value in our daily operations. We
                        understand the importance of being consistently on time and its impact on creating a productive
                        and respectful environment. Our staff and faculty adhere to strict schedules, ensuring that
                        meetings, classes, and events start promptly. By fostering a culture of punctuality, we
                        demonstrate our commitment to professionalism, efficiency, and respect for others' time.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="main-feature-box">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-bank2" viewBox="0 0 16 16">
                            <path
                                d="M8.277.084a.5.5 0 0 0-.554 0l-7.5 5A.5.5 0 0 0 .5 6h1.875v7H1.5a.5.5 0 0 0 0 1h13a.5.5 0 1 0 0-1h-.875V6H15.5a.5.5 0 0 0 .277-.916l-7.5-5zM12.375 6v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zM8 4a1 1 0 1 1 0-2 1 1 0 0 1 0 2zM.5 15a.5.5 0 0 0 0 1h15a.5.5 0 1 0 0-1H.5z" />
                        </svg>
                    </div>
                    <h3>Passionate</h3>
                    <p> At our institute, passion is the driving force behind everything we do. We are a team of
                        dedicated educators who are deeply passionate about providing a transformative learning
                        experience for our students. We believe that passion ignites curiosity, fuels motivation, and
                        unlocks the full potential of every individual. We create an inspiring and engaging environment
                        where students can thrive. We go above and beyond
                        to meet the unique needs and interests of each student. </p>
                </div>
            </div>
        </div>
    </div>

    <section class="Notes">
        <div class="section">
            <div class="KeyNote">

                <h1 style="margin: 0;
                position: relative;
                color: #574022;
                width: 100%;
                padding-bottom: 7px;">FROM THE PRINCIPAL's DESK</h1>
                <p style="
                    font-size: 14px;
                    text-transform: capitalize;
                    position: relative;
                    color: #574022;
                    display:inline-block;
                    text-align: justify;
                    margin-right: 20px;
                   
                ">“The function of education is to teach one to think intensively and to think critically. Intelligence
                    plus character – that is the goal of true education” Martin Luther King
                    Education is not just literacy. It is a much broader concept than that. Imparting the right
                    education is
                    equipping a child not only with the knowledge of various subjects, but also empowering them with
                    abilities and skills to face the various challenges of life. We have always aimed at the holistic
                    development of every student, nurturing every important aspect – physical, cultural, emotional and
                    intellectual.
                    The state-of-the-art facilities at Delhi Public School, Bangalore East and our dedicated staff, who
                    are
                    the proponents of the Institution’s ethos, provide our young scholars with innumerable opportunities
                    to
                    evolve as confident and thoughtful individuals, ready to make a place for themselves in this global
                    world ruled by technology. The right balance of academics and co-curricular activities facilitate
                    the
                    development of multiple intelligences, honing the talent and intellect, and thus fostering all round
                    development. Emphasis is also laid on imbibing the virtues of being humble, empathetic,
                    compassionate,
                    just, true, conscious about nature, energy conservation, recycling etc. that will go a long way in
                    helping them to become responsible citizens of our country.Wishing each one of you an experiential
                    learning year.
                    <br>
                    <br>


                    With warm regards,<br>
                    Virendra Kumar Sharma<br>
                    Principal
                </p>
            </div>
            <img src="\assets\principal.jpg">
        </div>

    </section>


</section>
<section class="Infra">
  
    <div class="container">

        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <div class="inner">
                        <img src="\assets\ScienceLab.jpg" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Science Lab</h5>
                        <p class="card-text">Where innovations get ignited</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <div class="inner">
                        <img src="\assets\Libarary.jpg" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Library</h5>
                        <p class="card-text">Where wisdom is treasured</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <div class="inner">
                        <img src="\assets\ComputerLab.jpg" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Atal Lab</h5>
                        <p class="card-text">Where language is digital</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <div class="inner">
                        <img src="\assets\MusicRoom.jpg" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Music Rooms</h5>
                        <p class="card-text">Where imaginations are tuned</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>