<div class="admissions">
    
  
  <div class="form">
  <form action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSfWFZ6p8gEewxbco0WWsH2WJPuGYtirr61RIh4n7LQXBPmKbw/formResponse" method="post">

    <div class="row">
      <div class="address centered-element">
      <p style="color: black; font-size: 30px;">Alok Central Sec School</p>
            <p>Shahpura, Bhilwara </p>
            <p>Rajasthan, 311404</p>
            <p>           
              alokcentralschool@gmail.com
            </p>
            <p> 01484-222244, 9413270929</p>  
          </div>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfWFZ6p8gEewxbco0WWsH2WJPuGYtirr61RIh4n7LQXBPmKbw/viewform?embedded=true" width="640" height="1500" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>
  </form>
</div>
</div>