*{
    margin: 0;
    padding: 0;
}

.service{
    width: 100%;
    text-decoration: none;   
}


.service .carousel-item img{
    height: 500px;
    width: 100%;
    display: block;
    background-size: cover!important;
    background-position: center;
    background-repeat: no-repeat;  
    filter: blur(2px);
}