<section class="service">

    <div class="carousel-item active">
        <img src="/assets/School.jpg" alt="..." class="center">
    </div>
    <Label style="text-align: center;
    background-color: #B8894A;
    padding: 20px; width: 100%; margin-top: 20px; margin-bottom: 20px;font: bold;
    color:white">
        Mission
    </Label>
    <p style="
                    font-size: 14px;
                    text-transform: capitalize;
                    position: relative;
                    color: #574022;
                    display:inline-block;
                    text-align: justify;
                    margin: 20px;">
        Alok Central School is dedicated to providing a comprehensive education programme for its students emphasizing
        the developmental needs of the child as a whole.

    </p>

    <Label style="text-align: center;
    background-color: #B8894A;
    padding: 20px; width: 100%; margin-top: 20px; margin-bottom: 20px;font: bold; color: white;">
        Vision
    </Label>
    <p style="
                    font-size: 14px;
                    text-transform: capitalize;
                    position: relative;
                    color: #574022;
                    display:inline-block;
                    text-align: justify;
                    margin: 20px;">
        Alok Central School aims at all-round development of children into well disciplined, academically oriented and
        self – confident individuals who will move on to make a mark in the global society and achieve excellence in all
        walks of life. We endeavour to do this by providing a comprehensive curriculum enabling students to deal with
        the present and prepare for the future in a stress free but stimulating environment.

    </p>

    <Label style="text-align: center;
    background-color: #B8894A;
    padding: 20px; width: 100%; margin-top: 20px; margin-bottom: 20px; color: white; font:bold;">
        About Us
    </Label>
    <p style="
                    font-size: 14px;
                    text-transform: capitalize;
                    position: relative;
                    color: #574022;
                    display:inline-block;
                    text-align: justify;
                    margin: 20px;">

        ALOK CENTRAL SEC.SCHOOL SHAHPURA was established in 2002 and it is managed by the Pvt. Unaided. It is located in
        Rural area. It is located in SHAHPURA block of BHILWARA district of Rajasthan. The school consists of Grades
        from 1
        to 10. The school is Co-educational and it have an attached pre-primary section. The school is Applicable in
        nature and is not using school building as a shift-school. Hindi is the medium of instructions in this school.
        This
        school is approachable by all weather road. In this school academic session starts in April.
        The school has Private building. It has got 11 classrooms for instructional purposes. All the classrooms are in
        good
        condition. It has 2 other rooms for non-teaching activities. The school has a separate room for Head
        master/Teacher.
        The school has No Boundary Wall boundary wall. The school has have electric connection. The source of Drinking
        Water
        in the school is Tap Water and it is functional. The school has 2 boys toilet and it is functional. and 2 girls
        toilet and it is functional. The school has a playground. The school has a library and has 200 books in its
        library.
        The school does not need ramp for disabled children to access classrooms. The school has 6 computers for
        teaching
        and learning purposes and all are functional. The school is having a computer aided learning lab. The school is
        Provided and Prepared in School Premises providing mid-day meal.</p>


</section>