<section class="service">

    <div class="carousel-item active">
        <img src="/assets/sc7.jpg" alt="..." class="center">
    </div>
    <Label style="text-align: center;
    background-color: #B8894A; color: white;
    padding: 20px; width: 100%; margin-top: 20px; margin-bottom: 20px;">
        FACILITIES
    </Label>
    <p style="
                    font-size: 14px;
                    text-transform: capitalize;
                    position: relative;
                    color:#574022 ;
                    display:inline-block;
                    text-align: justify;
                    margin: 20px;">        
        Set in a picturesque environment, away from the hustle and bustle of the city, the campus at Alok Central School
        creates the right ambience essential for your child’s growth and development. The beautifully landscaped campus
        is spread over 21 acres of lush green land. Our students have easy access to all the amenities. The campus
        equipped with all the modern facilities and state-of-the-art infrastructure provides all the right ingredients
        for your child’s all-round development.
    </p>
    
</section>
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="inner">
                    <img src="\assets\ScienceLab.jpg" class="card-img-top">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Science Lab</h5>                  
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="inner">
                    <img src="\assets\Libarary.jpg" class="card-img-top">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Library</h5>                    
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="inner">
                    <img src="\assets\ComputerLab.jpg" class="card-img-top">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Atal Tinkering Lab</h5>                    
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="inner">
                    <img src="\assets\MusicRoom.jpg" class="card-img-top">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Music Rooms</h5>                    
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="inner">
                    <img src="\assets\knowledge1.jpg" class="card-img-top">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Knowledge Center</h5>                   
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="inner">
                    <img src="\assets\transport.jpg" class="card-img-top">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Transport Services</h5>
                   
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="inner">
                    <img src="\assets\fun.jpg" class="card-img-top">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Fun Saturdays</h5>                   
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="inner">
                    <img src="\assets\security.jpg" class="card-img-top">
                </div>
                <div class="card-body">
                    <h5 class="card-title">24x7 Security</h5>                    
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="inner">
                    <img src="\assets\lecture.jpg" class="card-img-top">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Special Lectures</h5>                    
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="inner">
                    <img src="\assets\canteen1.jpg" class="card-img-top">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Canteen</h5>                    
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="inner">
                    <img src="\assets\maths.jpg" class="card-img-top">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Mathematics</h5>                   
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="inner">
                    <img src="\assets\sports.jpg" class="card-img-top">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Sports & Games</h5>                   
                </div>
            </div>
        </div>
    </div>
    

